{% extends "./layouts/main.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Etusivu</h2>
      Tervetuloa Forumille!
      {% if session.username %}
      Olet kirjautunut nimellä {{ session.username }}.
      {% else %}
      Kirjaudu sisään tai Rekisteröidy nähdäksesi ja luodaksesi sisältöä!
      {% endif %}
    </div>
    {% if session.username %}
    <div class="col-12">
      <h4>Luo huone</h4>
      <form action="/rooms" method="POST">
        <div class="form-group col-6">
          <label for="inputUsername">Nimi</label>
          <input type="text" name="name" class="form-control" id="inputUsername">
        </div>
        <div class="form-group col-6">
          <label for="inputUsername">Kuvaus</label>
          <textarea type="text" name="description" class="form-control" id="inputUsername"></textarea>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="form-group col-6">
          <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
      </form>
    </div>
    <div class="col-12">
      <h3>Julkiset huoneet</h3>
      {% for room in rooms %}
        <h4>{{ room.name }}</h4>
        {{ room.description }}<br>
        Luotu: {{ room.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
        <a href="/rooms/{{ room.id }}" class="btn btn-primary">Huoneeseen!</a>
        <hr>
      {% endfor %}
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}
