{% extends "./layouts/main.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<div class="row">
  <div class="col-8">
    <form action="/register" method="POST" onsubmit="return check(this)">
      <div class="form-group col-6">
        <label for="inputUsername">Käyttäjänimi</label>
        <input type="text" name="username" class="form-control" id="inputUsername">
      </div>
      <div class="form-group col-6">
        <label for="inputPassword">Salasana</label>
        <input type="password" name="password" class="form-control" id="inputPassword">
      </div>
      <div class="form-group col-6">
        <label for="inputPassword">Salasanan vahvistus</label>
        <input type="password" name="password-confirm" class="form-control" id="inputPassword">
      </div>
      <div class="form-group col-6">
        <button type="submit" class="btn btn-primary">Rekisteröidy</button>
      </div>
    </form>
  </div>
{% endif %}
<script>
  function check(form) {
      if (form.username.value.trim().length < 1) {
          alert("Käyttäjänimi ei saa olla tyhjä");
          return false;
      }
      if (form.username.value.length < 3) {
          alert("Käyttäjänimen pitää olla vähintään 3 merkkiä pitkä");
          return false;
      }
      if (form.username.value.length > 20) {
          alert("Käyttäjänimen pitää olla enintään 20 merkkiä pitkä");
          return false;
      }
      if (form.password.value.length < 8) {
          alert("Salasanan tulee olla vähintään 8 merkkiä");
          return false;
      }
      if (form.password.value !== form["password-confirm"].value) {
          alert("Salasanan vahvistus ei täsmää");
          return false;
      }
      return true;
  }
</script>
{% endblock %}