{% extends "layouts/main.html" %}
{% block title %}{{ room.name }}{% endblock %}
{% block content %}
<h1>{{ room.name }}</h1>
<h3>Luo uusi lanka</h3>
<form action="/threads" method="POST">
  Langan nimi: <input type="text" name="name"><br>
  <input type="hidden" name="room_id" value="{{ room.id }}"><br>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="submit" value="Tallenna">
</form>
<h3>Adminit</h3>
{% for admin in room_admins %}
  <div>{{ admin.username }}</div>
{% endfor %}
<h3>Lisää admin</h3>
<form action="/rooms/{{ room.id }}/settings" method="GET">
  Hae käyttäjiä käyttäjänimellä: <input value="{{ search }}"" type="text" name="search"><br>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="submit" value="Hae">
</form>
<div>
  {% for user in user_results %}
    <div>{{ user.username }} 
    <form action="/rooms/{{ room.id }}/admins" method="POST">
      <input type="hidden" name="user_to_add_id" value="{{ user.id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Lisää">
    </form>
  {% endfor %}
</div>
{% endblock %}
